<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Sistem Clustering</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->



<!-- Bootstrap core JavaScript-->
<script src="{{url_for('static', filename='jquery.min.js')}}"></script>
<script src="{{url_for('static', filename='bootstrap.bundle.min.js')}}"></script>

<!-- Core plugin JavaScript-->
<script src="{{ url_for('static', filename='jquery.easing.min.js')}}"></script>

<!-- Custom scripts for all pages-->
<script src="{{url_for('static', filename='sb-admin-2.min.js')}}"></script>

<!-- Page level plugins -->
<script src="{{url_for('static', filename='Chart.min.js')}}"></script>

<!-- Page level custom scripts -->
<script src="{{url_for('static', filename='chart-area-demo.js')}}"></script>
<script src="{{url_for('static', filename='chart-pie-demo.js')}}"></script>
<script src="{{url_for('static', filename='jquery.dataTables.min.js')}}"></script>
<script src="{{url_for('static', filename='dataTables.bootstrap4.min.js')}}"></script>
<script src="{{url_for('static', filename='datatables-demo.js')}}"></script>

<!-- <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.0/js/jquery.dataTables.js"></script> -->

</body>

</html>