{% include 'header.html' %}

<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Upload Dataset</h6>
        </div>
        <div class="card-body">
            <form action="/upload" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label>Pilih file CSV:</label>
                    <input type="file" class="form-control-file" name="file" accept=".csv" required>
                    <small class="form-text text-muted">
                        File harus dalam format CSV. 
                        <a href="/download_format">Download format template di sini</a>
                    </small>
                </div>
                <button type="submit" class="btn btn-primary">Upload</button>
            </form>
        </div>
    </div>
</div>

{% include 'footer.html' %} 